/*   
	version:  1.0
	author:   Ander Uraga Real
	date: 	  20150518
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/

@import url("reset.css");


/* 

   ETIQUETAS 
   dar un estilo general o base a toda la Web	

*/

body{
	background: url('../img/back2.jpg');
	font-family: arial;
}
a{
	text-decoration:none;
}



a:hover{
	color: orange;
}

ol, ul {
	list-style-type: disc;
}

li{ 
	margin-bottom:8px;
}

ol h3, ul h3 {
	font-weight:bold;
	margin-bottom:15px;
}


ol ol, ul ul{
	margin-left:20px;
	list-style-type: circle;
}


h1 {	
  font-size: 50px;
  margin-bottom:20px;
  color: green;
  font-family: arial;
  text-align: center;	
}

strong{
	font-weight:bold;
}

p{
	font-family: arial;
	font-size:16px;
	text-align:justify;
	line-height:20px;
}

fieldset{
	border:1px solid grey;	
	padding: 20px 30px;
	margin-bottom: 20px;
}

legend{
	font-weight: bold;
}


/* 
	ESTILOS REUTILIZABLES
    Regla con selector por CLASS para usar en todas las páginas
*/


table.tabla_azul, .tabla_azul tr, .tabla_azul td{
	border:1px solid grey;
	text-align: center;
	font-family: arial;
	font-size: 35px;  
	color: #0099FF;    
}

.tabla_azul th, .tabla_azul td {
  padding: 10px;  
  height: 40px;
}

.tabla_azul th{
  color: grey;	
}


.btn_volver{
	background-color:#DDDDDD;
}

.numero{
  color: #0099FF;
  font-family: arial;
  font-size: 150px;		
}

.hightlight{
	background-color: yellow;
}

.verde{
	color:green;	
}

.cartel{
	float:left;
	margin-right:30px;
	width:250px;
	height:auto;
}


/*
	PAGINAS
	Tendremos una seccion por cada pagina de nuestra Web

*/

/* NAV */

#logo img{
	width: 35px;
	height: 35px;
}


/* HOME */
#home{

}

/* CARTELERA */
#cartelera li h3{
  color: #0076EC;
  font-family: "dinengschriftstd", "Another Font", generic;
  font-size: 25px;
  font-weight: bold;  
}

#cartelera li h3:hover{
	color: orange;
}


/* CARTELERA_DETALLE */
#cartelera_detalle h1{
	color:blue;
	text-align:left;
}


/* Regla con selector por ID */
#dado{
	width:200px;
	height: 200px;
}

#encabezado{
	border:5px dotted green;
	
}

#container{
	width:900px;
	background-color:#FFF;
	min-height:700px;
	margin:0 auto;	
	padding:0 20px;
	border-right:1px solid grey;
	border-left:1px solid grey;
	clear:both;
}



#ficha{
	/*float:left;*/
	width:580px;
	min-height: 360px;
	margin-bottom: 20px;	
	
}

#ficha p{
	
	font-size:35px;
	line-height:45px;
}

#ficha .destacado{
	color:green;
	font-weight:600;
}

#sinopsis{
  /*float: left;*/
  height: 200px;
  overflow: scroll;
}  





